.detailsScreen:not([hidden]) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.75);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.detailsScreen .groupText p {
  line-height: 1rem;
  font-size: 1rem;
}

.detailsScreen .wrapper {
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 10px white;
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  padding: 1rem;
  color: #333333;
  max-width: 500px;
  width: 100%;
}

.detailsClose {
  margin-left: auto;
}

.detailsBody {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
}

.detailsAvatar {
  display: block;
  max-width: 200px;
  height: 200px;
  border: 1rem double #333333;
}

.detailsRepos {
  width: 100%;
}

.detailsListRepos {
  padding: 0 2rem;
  margin: 0;
  overflow-y: auto;
  height: 150px;
}

.detailsRepos li + li {
  margin-top: 1rem;
}

.detailsReposName {
  margin: 0;
}
