.listUsers {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.listUsersTitle {
  margin: 0;
}

.listUsersContainer {
  padding: 1rem 0;
}

.listUsersPagination {
  position: sticky;
  bottom: 0;
  display: flex;
  padding: 1rem;
  background-color: #333333;
  justify-content: space-between;
}
